force-app/main/default/flows/case_study2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>set_donor_fields</name>
        <label>set donor fields</label>
        <locationX>505</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>createdonorrecords.DOB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdonorrecords.blood_group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>O POSITIVE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdonorrecords.donor_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donor_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_blood_donor_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>chk_for_record_exist</name>
        <label>chk for record exist</label>
        <locationX>272</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>set_donor_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>new record</defaultConnectorLabel>
        <rules>
            <name>if_record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>donordatev</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DOB</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>donornamev</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>donor_name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_2</targetReference>
            </connector>
            <label>if record exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>bloodgrouppicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>blood_group__c</picklistField>
        <picklistObject>Blood_donor__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>case study2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>case study2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_blood_donor_record</name>
        <label>create blood donor record</label>
        <locationX>719</locationX>
        <locationY>509</locationY>
        <connector>
            <targetReference>final_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputReference>createdonorrecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_donor_records</name>
        <label>get donor records</label>
        <locationX>406</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>chk_for_record_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>donor_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donor_name</elementReference>
            </value>
        </filters>
        <object>Blood_donor__c</object>
        <outputAssignments>
            <assignToReference>donordatev</assignToReference>
            <field>DOB__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>donornamev</assignToReference>
            <field>donor_name__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>user enter the blood group of the donor</description>
        <name>donor_details</name>
        <label>donor details</label>
        <locationX>624</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_donor_records</targetReference>
        </connector>
        <fields>
            <name>donor_name</name>
            <dataType>String</dataType>
            <fieldText>donor name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blood_group</name>
            <choiceReferences>bloodgrouppicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>blood group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DOB</name>
            <dataType>Date</dataType>
            <fieldText>DOB</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>858</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errormsg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>final_screen</name>
        <label>final screen</label>
        <locationX>841</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finalmsg</name>
            <fieldText>&lt;p&gt;thank you for updating the records&lt;/p&gt;&lt;p&gt;record updated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_2</name>
        <label>screen 2</label>
        <locationX>219</locationX>
        <locationY>503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p&gt;the record already exists.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>donor_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createdonorrecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Blood_donor__c</objectType>
    </variables>
    <variables>
        <name>donordatev</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donornamev</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
