force-app/main/default/flows/demo_day5_DIY.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>set record ids from the get records and storing in a collectionids</description>
        <name>set_record_ids</name>
        <label>set record ids</label>
        <locationX>1021</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>collectionids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_record_ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_record_ids</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>demo day5 DIY {!$Flow.CurrentDateTime}</interviewLabel>
    <label>demo day5 DIY</label>
    <loops>
        <name>get_record_ids</name>
        <label>get record ids</label>
        <locationX>713</locationX>
        <locationY>295</locationY>
        <collectionReference>opp_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_record_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>final_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>opp_records</name>
        <label>opp records</label>
        <locationX>358</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_record_ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>opp_amount</elementReference>
            </value>
        </filters>
        <filters>
            <field>billing_city__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>billing_city</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>final_screen</name>
        <label>final screen</label>
        <locationX>714</locationX>
        <locationY>584</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>recordlist</name>
            <extensionName>welkins_table:FlowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsCSV</name>
                <value>
                    <stringValue>Amount,CloseDate,Name,StageName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsIds</name>
                <value>
                    <elementReference>collectionids</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>get_opp_records</name>
        <label>get opp records</label>
        <locationX>382</locationX>
        <locationY>171</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>opp_records</targetReference>
        </connector>
        <fields>
            <name>billing_city</name>
            <dataType>String</dataType>
            <fieldText>billing city</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>opp_amount</name>
            <dataType>Currency</dataType>
            <fieldText>opp amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_opp_records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>collectionids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppfields</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
