force-app/main/default/flows/screen_day4practice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_values_opp</name>
        <label>assign values opp</label>
        <locationX>322</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>opportunityname.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>close_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityname.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityname.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stagechoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityname.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunity_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_opp</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>stagechoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>screen :day4practice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>screen :day4practice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_opp</name>
        <label>create opp</label>
        <locationX>516</locationX>
        <locationY>295</locationY>
        <connector>
            <targetReference>final_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_screen</targetReference>
        </faultConnector>
        <inputReference>opportunityname</inputReference>
    </recordCreates>
    <screens>
        <name>error_screen</name>
        <label>error screen</label>
        <locationX>562</locationX>
        <locationY>430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errmsg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>final_screen</name>
        <label>final screen</label>
        <locationX>670</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displaymsg</name>
            <fieldText>&lt;p&gt;Record successfully created.&lt;/p&gt;&lt;p&gt;Record Id ={!opportunityname.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_1</name>
        <label>screen 1</label>
        <locationX>323</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_values_opp</targetReference>
        </connector>
        <fields>
            <name>opportunity_name</name>
            <dataType>String</dataType>
            <fieldText>opportunity name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>close_date</name>
            <dataType>Date</dataType>
            <fieldText>close date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>stage</name>
            <choiceReferences>stagechoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>579</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>screen_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>closedate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityname</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
