force-app/main/default/flows/test_demo_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>error_email_and_sms</name>
        <label>error email and sms</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>errordisplaymessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>enter mobile number and email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>final_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>error_email_msg</name>
        <label>error email msg</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>errordisplaymessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>enter the email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>final_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>error_mobile_msg</name>
        <label>error mobile msg</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>errordisplaymessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>enter the mobile number</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>final_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>restore_email_and_mobile</name>
        <label>save email and mobile</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>emailid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>enteremail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mobilenumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mobile_number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_email_option</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>IF use opts for email and if email is not entered..display default value</description>
        <name>check_for_email_option</name>
        <label>check for email option</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>screen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>checkbox not opted</defaultConnectorLabel>
        <rules>
            <name>chk_for_both_sms_and_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>receive_email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>receivesms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>enteremail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mobile_number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_email_and_sms</targetReference>
            </connector>
            <label>chk for both sms and email</label>
        </rules>
        <rules>
            <name>chk_email_check_box</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>receive_email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>enteremail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_email_msg</targetReference>
            </connector>
            <label>chk email check box</label>
        </rules>
        <rules>
            <name>chk_recivesms_chkbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>receivesms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mobile_number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_mobile_msg</targetReference>
            </connector>
            <label>chk recivesms chkbox</label>
        </rules>
    </decisions>
    <description>test demo2
applying new components and elements
section
image
etc</description>
    <environments>Default</environments>
    <interviewLabel>test demo 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test demo 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>final_screen</name>
        <label>final screen</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayerror</name>
            <fieldText>&lt;p&gt;{!errordisplaymessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>screen for entering the sms and email by the checkbox</description>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>restore_email_and_mobile</targetReference>
        </connector>
        <fields>
            <name>receive_email</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>receive email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>enteremail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>receivesms</name>
            <dataType>Boolean</dataType>
            <fieldText>receivesms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mobile_number</name>
            <dataType>String</dataType>
            <fieldText>mobile number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>retrevies the email enterd by the user</description>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>emailfromvariable</name>
            <fieldText>&lt;p&gt;{!enteremail.value}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>emailid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errordisplaymessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mobilenumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
